/** @format */

body {
	position: relative;
}
.overlay {
	background-color: rgb(64 62 62 / 50%);
	height: 100vh;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.invalid-feedback {
	height: 16px;
	width: 100%;
	display: block;
}
.overlay.open {
	display: block;
}
.modal {
	display: block;
}

.form-register {
	display: none;
}
.title {
	cursor: pointer;
}

.pass-word-group {
	position: relative;
}

.toogle-show-pass {
	position: absolute;
	right: 50px;
	bottom: 59px;
}

.icon-close {
	display: none;
}

.fa-solid {
	cursor: pointer;
	width: 20px;
	height: 20px;
}
