/** @format */

body {
	font-family: "Nunito Sans", sans-serif;
}

.overlay {
	background-color: #4d4c4c;
	height: 100vh;
}

.cart {
	float: right;
	width: 400px;
	height: inherit;
	background-color: #fff;
}

.cart .cart-header {
	background-color: #f3f3f3;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.cart-header .cart-title {
	font-size: 28px;
	position: relative;
}
.cart-header .cart-title::after {
	content: "4";
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #4060f3;
	display: inline-block;
	font-size: 15px;
	color: #fff;
	position: absolute;
	text-align: center;
	line-height: 25px;
	top: -13px;
	right: -28px;
}

.cart-header .btn-close {
	border: none;
	width: 25px;
	height: 25px;
	background-color: red;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.cart-header .btn-close i {
	font-size: 16px;
	color: #fff;
}
