/** @format */

.main {
	padding: 30px 50px;
}

.main .main-title {
	font-size: 30px;
	color: black;
	text-align: center;
	margin-bottom: 20px;
}
.main .main-description {
	text-align: center;
}
.main .list-item {
	display: flex;
	margin-top: 50px;
	justify-content: space-between;
	text-align: center;
}

.list-item .item {
	border: 1px solid #ccc;
	box-shadow: 2px 2px 5px 1px #ccc;
	max-width: 30%;
	padding: 20px 10px;
}
.item .item-avatar {
	margin: 0px auto;
	width: 80px;
	height: 80px;
	border: 1px solid orange;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.item-avatar i {
	color: orange;
	font-size: 40px;
}

.item .item-title {
	font-size: 20px;
	margin: 15px 0;
}

.item .item-description {
	font-size: 13px;
	color: #9f9c9c;
}

.item .btn-detail {
	margin-top: 10px;
	background-color: orange;
	border: none;
	padding: 10px;
	color: white;
}
