/** @format */

:root {
	--text-primary-color: #fff;
}

* {
	box-sizing: border-box;
	font-family: Rajdhani, sans-serif;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
}

/* Common */

a {
	text-decoration: none;
}

::selection {
	background-color: #22d2e2;
	color: var(--text-primary-color);
}

.flex {
	display: flex;
}

.space-between {
	justify-content: space-between;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
/* ============== Landing =============== */

.landing {
	background-image: url(https://hoanganf8.github.io/htmlcss_project02/image/landing-background.jpg);
	background-size: cover;
	min-height: 1200px;
	padding: 80px 0 100px;
}

.landing-info {
	text-align: center;
}
.logo i {
	font-size: 60px;
	color: var(--text-primary-color);
}

.sub-title {
	margin-top: 36px;
	font-size: 2.4rem;
	font-weight: 500;
	color: var(--text-primary-color);
	line-height: 1em;
}

.title {
	font-family: Titillium Web, sans-serif;
	font-size: 10.4rem;
	font-weight: 900;
	color: var(--text-primary-color);
}

.tap-switch {
	margin-top: 54px;
	position: relative;
}

.login-btn,
.register-btn {
	background-color: transparent;
	min-width: 180px;
	height: 54px;
	border: 1px solid #fff;
	color: var(--text-primary-color);
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 3.375;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.login-btn {
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
}

.register-btn {
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	background-color: var(--text-primary-color);
	color: black;
}

#active:checked + label:first-of-type > .login-btn {
	background-color: var(--text-primary-color);
	color: black;
}

#active:checked ~ label:last-of-type > .register-btn {
	background-color: transparent;
	color: #fff;
}
.login-form {
	display: none;
}

.register-form {
	display: block;
}

#active:checked ~ .login-form {
	display: block;
}

#active:checked ~ .register-form {
	display: none;
}

.form-box {
	width: 484px;
	padding: 64px;
	border-radius: 12px;
	background-color: #fff;
	box-shadow: 0 0 60px 0 rgba(94, 92, 154, 0.12);
	position: absolute;
	top: 134px;
}

.form-title {
	font-size: 2.6rem;
	text-align: center;
	font-weight: 700;
}

.form {
	margin-top: 76px;
}

.form-input {
	position: relative;
}
.form-input label {
	color: #adafca;
	font-size: 1.6rem;
	font-weight: 600;
	position: absolute;
	top: 20px;
	left: 20px;
	transition: all 0.3s ease-in-out;
	pointer-events: none;
}

.form-input input {
	height: 54px;
	padding: 0 18px;
	width: 100%;
	border-radius: 12px;
	font-size: 1.6rem;
	font-weight: 700;
	background-color: #fff;
	border: 1px solid #dedeea;
	color: #3e3f5e;
	transition: border-color 0.2s ease-in-out;
	box-sizing: border-box;
}

.form-input input:focus + label {
	background-color: #fff;
	padding: 0 6px;
	font-size: 1.2rem;
	top: -6px;
	left: 12px;
}

.form-input input:focus {
	border-color: #615dfa;
}

.form-input + .form-input {
	margin-top: 28px;
}

.form-checkbox {
	margin-top: 28px;
}
.form-checkbox label,
.form-checkbox a {
	display: flex;
	font-size: 1.4rem;
	font-weight: 700;
	line-height: 22px;
	cursor: pointer;
}
.form-checkbox label {
	color: #3e3f5e;
}

.form-checkbox a {
	color: #adafca;
}

.form-checkbox a:hover {
	color: #00c7d9;
}

.form-checkbox label span {
	height: 20px;
	width: 20px;
	border-radius: 5px;
	border: 1px solid #ccc;
	display: inline-block;
	position: relative;
	margin-right: 10px;
	top: 1px;
	overflow: hidden;
}

.form-checkbox input:checked + span:before {
	content: "\58";
	position: absolute;
	top: -2px;
	left: -5px;
	font-weight: bold;
	background: #22d2e2;
	padding: 2px 11px;
	color: #fff;
}

.form-checkbox input:checked + span {
	border: none;
}

.login-form .btn-submit {
	margin-top: 28px;
	width: 100%;
	background-color: #615dfa;
	box-shadow: 4px 7px 12px 0 rgba(97, 93, 250, 0.2);
	height: 54px;
	line-height: 54px;
	display: inline-block;
	border-radius: 10px;
	color: #fff;
	font-size: 1.4rem;
	font-weight: 700;
	cursor: pointer;
}

.login-form .btn-submit:hover {
	background-color: #5753e4;
}

.lined-text {
	margin-top: 40px;
	font-size: 1.4rem;
	font-weight: 700;
	text-align: center;
	position: relative;
}

.lined-text:after,
.lined-text:before {
	content: "";
	width: 70px;
	height: 1px;
	background-color: #eaeaf5;
	position: absolute;
	top: 7px;
}

.lined-text:before {
	left: 0;
}
.lined-text:after {
	right: 0;
}

.social-links {
	margin-top: 30px;
}

.social-links a {
	display: inline-block;
	margin-right: 12px;
	padding: 11px 12px;
	border-radius: 10px;
	color: #fff;
}

.facebook {
	background-color: #3663d2;
}

.twitter {
	background: #1abcff;
}

.twitch {
	background: #7b5dfa;
}
.youtube {
	background: #fd4350;
}
