/** @format */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.player {
	max-width: 80%;
	margin: 30px auto;
}
.player .player-action {
	text-align: center;
}
.player .player-timer {
	display: flex;
	align-items: center;
	gap: 15px;
}
.progress-bar {
	height: 10px;
	background: gray;
	position: relative;
	cursor: pointer;
	width: 100%;
}
.progress-bar .progress {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 0;
	background: deepskyblue;
}
.progress-bar .progress span {
	width: 12px;
	height: 12px;
	display: block;
	background: darkblue;
	border-radius: 50%;
	position: absolute;
	bottom: 0;
	right: 0;
	translate: 50% 1px;
}
audio {
	display: none;
}

.player-action {
	cursor: pointer;
}

.timer {
	font-size: 12px;
	position: absolute;
	background: deepskyblue;
	color: aliceblue;
	padding: 3px 5px;
	left: 0;
	top: -27px;
	border-radius: 999px;
	transform: translateX(-50%);
	display: none;
}

.open-karaoke {
	text-align: center;
}

.open-karaoke button {
	background-color: deepskyblue;
	border: none;
	border-radius: 9999px;
	padding: 10px 15px;
	cursor: pointer;
	color: #fff;
}

.karaoke {
	color: #fff;
	background: deepskyblue;
	padding: 15px;
	transition: translate 0.4s;
	position: fixed;
	inset: 0;
	translate: 0 100vh;
}

.karaoke.show {
	translate: 0;
}

.container {
	max-width: 800px;
	margin: 0 auto;
}

.karaoke .karaoke-header {
	justify-content: space-between;
	align-items: center;
	display: flex;
}

.karaoke .karaoke-header h2 {
	font-size: 3rem;
}
.karaoke .karaoke-header .close {
	cursor: pointer;
	font-size: 1.5rem;
	font-weight: 700;
}
.karaoke .karaoke-inner {
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80vh;
	font-size: 3rem;
	font-weight: 700;
	display: flex;
}
