/** @format */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* .modal {
	display: none;
}

.modal.open {
	display: block;
} */
/* span.hightlight {
	font-weight: 700;
	background-color: rgb(219 234 254 / var(--tw-bg-opacity));
} */

.loading {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
