/** @format */

body {
	background: url(http://uiwebsoft.com/justlog/login-one/images/login-bg2.jpg)
		no-repeat;
}

.form-login {
	width: 70vw;
	margin: 0px auto;
	background-color: #ff574d;
	height: 70vh;
	margin-top: 70px;
}
