/** @format */

body {
	background: url(http://uiwebsoft.com/justlog/login-one/images/login-bg2.jpg)
		no-repeat;
	font-family: "Nunito Sans", sans-serif;
}

.form-login {
	width: 70vw;
	margin: 0px auto;
	background-color: #ff574d;
	height: 70vh;
	margin-top: 70px;
	display: flex;
	border-radius: 5px;
	overflow: hidden;
}

.form-login .just-log {
	margin-top: 100px;
	text-align: center;
	flex: 4;
}

.just-log .justlog-head {
	display: flex;
	justify-content: center;
	font-size: 30px;
	font-weight: 700;
}
.justlog-head .logo {
	display: inline-block;
	background-color: #fff;
	color: #ff574d;
	padding: 2px 4px;
	border-radius: 5px;
	margin-right: 10px;
}

.justlog-head .title {
	color: white;
}

.just-log .justlog-desc {
	margin-top: 20px;
	color: white;
	line-height: 1.5;
}

.just-log .justlog-btn {
	margin-top: 10px;
	border: none;
	padding: 10px 20px;
	color: #ff574d;
	border-radius: 3px;
	cursor: pointer;
}

.login-social {
	margin-top: 20px;
}

.login-social .btn-social {
	background-color: #a31b14;
	border: none;
	margin-right: 5px;
	border-radius: 3px;
	cursor: pointer;
}

.btn-social i {
	color: white;
	padding: 8px;
	font-size: 16px;
}

.form-login .form {
	flex: 6;
	background-color: white;
	text-align: center;
	padding: 0 50px;
}

.form .form-title {
	margin-top: 80px;
	font-size: 25px;
	font-weight: bold;
	position: relative;
}

.form .form-title::after {
	content: "";
	width: 40px;
	height: 2px;
	background-color: #ff574d;
	position: absolute;
	display: inline-block;
	top: 40px;
	left: 50%;
	transform: translateX(-50%);
}

.form-title .highlight {
	color: #ff574d;
}

.form-action {
	margin-top: 40px;
}

.form-control > input {
	width: 100%;
	padding: 12px 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 1px 1px 4px 1px #ccc;
	background-color: #fff;
}

.form-control + .form-control {
	margin-top: 20px;
}
